<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="corsHttpHeaders" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <corsHttpHeaders>
    <allMessage>
      <corsHttpHeader name="Access-Control-Allow-Origin" value="*" />  <!-- http://localhost -->
    </allMessage>
    <optionsMessage>
      <corsHttpHeader name="Access-Control-Request-Method" value="POST,GET,PUT,DELETE,OPTIONS" />
      <corsHttpHeader name="Access-Control-Allow-Headers" value="X-Requested-With,Content-Type" />  <!-- Content-Type, Accept -->
      <corsHttpHeader name="Access-Control-Max-Age" value="1728000" />
    </optionsMessage>
  </corsHttpHeaders>

</configuration>
