<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="corsHttpHeaders" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <corsHttpHeaders>
    <allMessage>
      <corsHttpHeader name="Access-Control-Allow-Origin" value="*" />  <!-- http://localhost -->
    </allMessage>
    <optionsMessage>
      <corsHttpHeader name="Access-Control-Request-Method" value="POST,GET,PUT,DELETE,OPTIONS" />
      <corsHttpHeader name="Access-Control-Allow-Headers" value="X-Requested-With,Content-Type" />  <!-- Content-Type, Accept -->
      <corsHttpHeader name="Access-Control-Max-Age" value="1728000" />
    </optionsMessage>
  </corsHttpHeaders>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Test_wcf_service.Service1">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Test_wcf_service.Service1">

        <endpoint address="" behaviorConfiguration="Test_wcf_service.Service1" binding="webHttpBinding" contract="Test_wcf_service.Service1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8701/Test_wcf_service_3/Service1/" />
          </baseAddresses>
        </host>-->

      </service>
    </services>

    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
