<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- attention <configSections> doit être avant <startup> sinon erreur : Configuration system failed to initialize -->
  <configSections>
    <section name="corsHttpHeaders" type="System.Configuration.IgnoreSectionHandler" />
    <section name="ConnectionManagerDatabaseServers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!--<add key="corsHttpHeader:Access-Control-Allow-Origin" value="*" />
    <add key="corsHttpHeader:Access-Control-Request-Method" value="POST,GET,PUT,DELETE,OPTIONS" />
    <add key="corsHttpHeader:Access-Control-Allow-Headers" value="X-Requested-With,Content-Type" />-->
  </appSettings>

  <corsHttpHeaders>
    <corsHttpHeader name="Access-Control-Allow-Origin" value="*" />
    <corsHttpHeader name="Access-Control-Request-Method" value="POST,GET,PUT,DELETE,OPTIONS" />
    <corsHttpHeader name="Access-Control-Allow-Headers" value="X-Requested-With,Content-Type" />
  </corsHttpHeaders>

  <ConnectionManagerDatabaseServers>
    <add key="localhost" value="localhost" />
    <add key="Dev" value="Dev.MyDomain.local" />
    <add key="Test" value="Test.MyDomain.local" />
    <add key="Live" value="Prod.MyDomain.com" />
  </ConnectionManagerDatabaseServers>

</configuration>
